{% extends "base.html" %}
{% load static %}

{% block title %}Sept Hackathon - Team 5{% endblock %}

{% block content %}

    <!-- Wrapper with a 2 column layout for desktop and 1 column layout for mobile-->
    <section class="masthead page-section portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <!-- Frist column with the title -->
          <div class="col-sm-12 col-lg-6">
            <h2 class="text-uppercase text-secondary">Here comes the title</h2>
          </div>
          <!-- Second column with the games -->
          <div class="col-12 col-lg-6">
            <!-- Container with links to the games-->
            <div class="container">
              <div class="row gy-5">
                <!-- Opens a modal to enter game 1 -->
                <div class="col-12 col-sm-6 h-100 y">
                  <div
                    class="portfolio-item mx-auto"
                    data-bs-toggle="modal"
                    data-bs-target="#portfolioModal1"
                  >
                    <div
                      class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
                    >
                      <div
                        class="portfolio-item-caption-content text-center text-white"
                      >
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img
                      class="img-fluid"
                      src="./assets/img/placeholder_img.svg"
                      alt="..."
                    />
                  </div>
                </div>
                <div class="col-12 col-sm-6 h-100">
                  <!-- Opens a modal to enter game 2 -->
                  <div
                    class="portfolio-item mx-auto"
                    data-bs-toggle="modal"
                    data-bs-target="#portfolioModal2"
                  >
                    <div
                      class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100"
                    >
                      <div
                        class="portfolio-item-caption-content text-center text-white"
                      >
                        <i class="fas fa-plus fa-3x"></i>
                      </div>
                    </div>
                    <img
                      class="img-fluid"
                      src="./assets/img/placeholder_img.svg"
                      alt="..."
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Game Select Modals-->
    <!-- Game Select Modal 1-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal1"
      tabindex="-1"
      aria-labelledby="portfolioModal1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Game Select Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-5"
                  >
                    Keyboard Game
                  </h2>
                  <!-- Game Select Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="./assets/img/placeholder_img.svg"
                    alt="..."
                  />
                  <!-- Game Select Modal - Text-->
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                  <button class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Game Select Modal 2-->
    <div
      class="portfolio-modal modal fade"
      id="portfolioModal2"
      tabindex="-1"
      aria-labelledby="portfolioModal2"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <div class="modal-header border-0">
            <button
              class="btn-close"
              type="button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body text-center pb-5">
            <div class="container">
              <div class="row justify-content-center">
                <div class="col-lg-8">
                  <!-- Game Select Modal - Title-->
                  <h2
                    class="portfolio-modal-title text-secondary text-uppercase mb-5"
                  >
                    Memory Game
                  </h2>
                  <!-- Game Select Modal - Image-->
                  <img
                    class="img-fluid rounded mb-5"
                    src="./assets/img/placeholder_img.svg"
                    alt="..."
                  />
                  <!-- Game Select Modal - Text-->
                  <p class="mb-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Mollitia neque assumenda ipsam nihil, molestias magnam,
                    recusandae quos quis inventore quisquam velit asperiores,
                    vitae? Reprehenderit soluta, eos quod consequuntur itaque.
                    Nam.
                  </p>
                  <button class="btn btn-primary" data-bs-dismiss="modal">
                    <i class="fas fa-xmark fa-fw"></i>
                    Close Window
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}